body{
    min-height:100vh;
    display:flex;
    justify-content: center;
    background-color: #222222;
}
.home{
    display:none;
}
.container > header > h1{
    color:white;
    font-size:3.25em;
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.message-display{
    margin-bottom:25px;
    margin-top:-20px;
    text-align: center;
    font-size:1.0em;
    font-family: Arial, Helvetica, sans-serif;
    color:white;  
}
.gameboard{
    display:grid;
    grid-template-columns: minmax(100px, 135px) minmax(100px, 135px) minmax(100px, 135px);
    grid-template-rows: 135px 135px 135px;
    gap:10px;
}
.square{
    font-family: 'Architects Daughter', cursive;
    font-size:7em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2D2D2D;
    border-radius:12px;
    box-shadow: 0px 0px 0px 5px #222222;
    cursor: pointer;
}
.square:hover{
    background-color: #424242;
}
.square:active{
    background-color: #292929;
    transform: scale(0.95);
}
.score-container{
    margin-top:15px;
    display:flex;
    font-family:sans-serif;
    color:white;
}
.player-one-display, .player-two-display{
    width:50%;
    font-size:1.10em;
    flex-direction: column;
    display:flex;
    align-items: center;
}
.player-one-score, .player-two-score{
    margin-top:5px;
    font-size:1.10em;
}
.game-btn-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top:10px;
    padding-top:20px;
}
.game-btn-container > img{
    width:30px;
}
#refreshBtn:hover{
    cursor: pointer;
}